:root {
  --main-color: rgb(255, 113, 40);
}

.portfolio {
  background-color: #f4f4f4;
  padding-bottom: 20px;
}
.portfolio__inner {
  padding-top: 60px;
}
.portfolio__item {
  width: 31%;
  justify-content: center;
}

@media (max-width: 1050px) {
  .portfolio__item {
    padding-top: 44px;
  }
}

@media (max-width: 940px) {
  .portfolio__item {
    width: 47%;
  }
}
@media (max-width: 826px) {
  .portfolio__item {
    width: 100%;
  }
}
